.main {
	width: 100%;
	height: auto;
	margin-bottom: 20px;
	.section {
		position: relative;
		width: 100%;
		height: 740px;
		flex-shrink: 0;
		.laptop-title {
			position: absolute;
			top: 231px;
			left: 385px;
			z-index: 999;
			h2 {
				color: #fff;
				font-size: 70px;
				margin-bottom: 153px;
			}
			.laptop-text {
				margin-left: 310px;
				p {
					color: #fff;
					font-size: 20px;
					font-weight: 400;
				}
				h3 {
					margin-left: 460px;
					margin-top: 20px;
					color: #fff;
					font-size: 24px;
					font-weight: 400;
				}
			}
		}
	}
	.main-box {
		width: 100%;
		height: 400px;
		margin-top: 10px;
		h2 {
			text-align: center;
			color: #fa9801;
			font-size: 32px;
			font-weight: 500;
			cursor: pointer;
		}
		.main-card {
			width: 1220px;
			margin: 0 auto;
			margin-top: 27px;
		}
	}
}
