.header {
	width: 100%;
	padding: 15px;
	z-index: 9999;
	position: fixed;
	background-color: #fff;
	box-sizing: border-box;
	top: 0;
	left: 0;
	.header_wrapper {
		display: flex;
		justify-content: space-between;
		align-items: center;
		.logo {
			width: 131px;
			height: 58px;
			img {
				width: 100%;
				height: 100%;
				object-fit: contain;
			}
		}
	}

	.navs {
		ul {
			display: flex;
			align-items: center;
			gap: 33px;
			li {
				a {
					color: #000;
					font-size: 20px;
					font-weight: 400;
					position: relative;
					&::before {
						content: '';
						position: absolute;
						width: 0;
						height: 2px;
						bottom: -3px;
						left: 0;
						background-color: #000;
						transition: width 0.3s ease;
					}

					&:hover {
						&:before {
							animation: underlineAnimation 0.3s forwards;
						}
					}
					@keyframes underlineAnimation {
						to {
							width: 100%;
						}
					}
				}
			}
			.nav-btn {
				padding: 5px;
				cursor: pointer;
				background-color: transparent;
				border: none;
				outline: none;
				visibility: hidden;
				opacity: 0;
				font-size: 26px;
			}
		}
	}
	.mobile {
		width: 30px;
		height: 30px;
		position: relative;
		display: flex;
		align-items: center;
		justify-content: center;
		display: none;
		.mobile-btn {
			width: 30px;
			background-color: #000;
			position: absolute;
			display: flex;
			flex-direction: column;
			align-items: center;
			cursor: pointer;
		  
			span {
			  content: "";
			  display: block;
			  position: absolute;
			  width: 30px;
			  height: 3px;
			  background-color: #000;
			  transition: transform 0.3s ease;
			}
		  
			span:nth-child(1) {
			  top: 0;
			}
		  
			span:nth-child(2) {
			  top: 10px;
			}
		  
			span:nth-child(3) {
			  top: 20px;
			}
		  
			&.active span:nth-child(1) {
			  transform: translateY(10px) rotate(-45deg);
			}
		  
			&.active span:nth-child(2) {
			  transform: translateY(10px) scaleX(0);
			}
		  
			&.active span:nth-child(3) {
			  transform: translateY(-10px) rotate(45deg);
			}
		  }		  
	}
}


@media screen and (max-width: 1024px) {
	.header {
		width: 1024px;
	}
}

@media (max-width: 992px) {
	
}

@media (max-width: 768px) {
}

@media (max-width: 600px) {
}