.d-slide {
	width: 1200px;
	height: 600px;
	margin: 0 auto;
}

.slide img {
	width: 750px;
	margin: 0 auto;
}

.slide {
	transform: scale(0.6);
	transition: transform 300ms;
}

.activeSlide {
	transform: scale(1.1);
	transition: transform 0.5s ease;
}

.arrow {
	background-color: #fff;
	position: absolute;
	cursor: pointer;
	z-index: 11;
}
.next {
	right: 0;
	top: 50%;
}

.prev {
	left: 0;
	top: 50%;
}

@media (max-width: 1024px) {
	.d-slide {
		width: auto;
		height: 450px;
	}
}

@media (max-width: 992px) {
	.d-slide {
		width: auto;
		height: 450px;
	}
}

@media (max-width: 768px) {
	.d-slide {
		width: auto;
		height: 300px;
		.slide img {
			width: 200px;
			height: auto;
		}
		.arrow {
			top: 50%;
		}
	
		.next {
			right: 0;
		}
	
		.prev {
			left: 0;
		}
	}
}

// @media (max-width: 600px) {
// }

@media (max-width: 600px) {
	.d-slide {
		width: 100%; /* Adjusted to fill the entire width */
		height: 300px; /* Adjusted height for smaller screens */
		border: 1px solid black; /* Adjusted border size */
	}

	.slide img {
		width: 100%; /* Adjusted to fill the entire width of the container */
		height: auto; /* Maintain aspect ratio */
	}
}