footer {
  height: 663px;
  background-color: #e6e6e6;
  margin-top: 100px;
  width: 100%;
  border: 2px solid red;

  .map {
    padding: 42px 0 74px 00px;
    // width: 100%;

    .navigation {
      display: flex;
      // margin-top: 50px;
      width: 630px;
      justify-content: center;
      align-items: center;

      img {
        margin-right: 10px;
      }
      .nav {
        opacity: 0;
        animation: fadeInUp 1.5s ease-out forwards;
      }
      @keyframes fadeInUp {
        from {
          opacity: 0;
          transform: translateY(-200px);
        }
        to {
          opacity: 1;
          transform: translateY(0);
        }
      }
    }
    .carta {
      display: flex;
      // align-items: center;
      justify-content: space-around;
      .infoFoots {
        margin: 100px;
      }

      .border {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 352px;
        border-right: 4px solid white;
        width: 4px;
        border-radius: 10px;
        margin-left: 450px;
        margin-top: 50px;
      }
    }
  }
}

@media (max-width: 1024px) {
  footer {
    width: 100%;
    .map {
      // margin-left: -150px;

      .navigation {
        // width: 500px;
        display: flex;
        justify-content: center;
        h1 {
          // margin-left: -10px;
        }
        img {
          // margin-left: -50px;
        }
      }
      // .carta {
      //   .border {
      //   }
      // }
    }
  }
}
@media (max-width: 768px) {
  footer {
    // height: 1000px;
    height: auto;
    .map {
      .navigation {
        width: 350px;
        display: flex;
        justify-content: center;
      }
      .carta {
        display: flex;
        // justify-content: center;
        flex-direction: column;
        .infoFoots {
            margin-right: 50px;
        }
      }
    }
  }
}
@media (max-width:320px){
   .map{
    .carta{
        .infoFoots{
            .okurmen_it{
                width: 200px;
            }
        }
    }
   }

}
