.container {
  border: 2px solid red;
}
footer {
  height: 663px;
  background-color: #e6e6e6;
  margin-top: 100px;
  width: 100%;
  border: 2px solid red;

  .map {
    padding: 42px 0 74px 200px;
    .navigation {
      display: flex;
      width: 500px;
      justify-content: center;
      align-items: center;

      img {
        margin-right: 10px;
      }
      .nav {
        opacity: 0;
        animation: fadeInUp 1.5s ease-out forwards;
      }
      @keyframes fadeInUp {
        from {
          opacity: 0;
          transform: translateY(-200px);
        }
        to {
          opacity: 1;
          transform: translateY(0);
        }
      }
    }
    .infoFoots {
      // margin-left: 250px
    }
    .carta {
      display: flex;
      // align-items: center;
      justify-content: space-around;
      .infoFoots {
        margin: 100px;
        .gmail{
          display: flex;
          align-items: center;
        }
      }

      .border {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 352px;
        border-right: 4px solid white;
        width: 4px;
        border-radius: 10px;
        margin-left: 450px;
        margin-top: 50px;
      }
      .mapAround {
        // margin-bottom: 350px;
      }
    }
  }
}

@media (max-width: 1024px) {
  footer {
    width: 100%;
    .map {
      // margin-left: -150px;

      .navigation {
        width: 500px;
        display: flex;
        justify-content: center;
        h1 {
          margin-left: -10px;
        }
        img {
          margin-left: -50px;
        }
      }
      .carta {
        .border {
        }
      }
    }
  }
}
@media (max-width: 768px) {
  footer {
    height: 1000px;
    .map {
      
      .navigation {
        width: 770px;
        display: flex;
        justify-content: center;
      }
      .carta {
        display: flex;
        margin-left: 18%;
        flex-direction: column;
        .mainCarta{
          width: 500px;
        }
        .border{
          opacity: 0;
        }
        .infoFoots {
            margin-right: 100px;
          p {
          }
        }
      }
    }
  }
}

@media screen and (min-width: 425px) {
  .infoFoots {
    width: 400px;
    flex-wrap: wrap;
  }
  

  .telephone,
  .instagram,
  .gmail,
  .facebook,
  .towards {
    flex: 1 1 18%; 
  }
}

