* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
<<<<<<< HEAD
=======
	// background-color: gray;
>>>>>>> eb94f9be396330a7ec2880080f1d56b1b70231aa
	font-family: 'Montserrat' sans-serif;
}

.container {
	width: 100%;
	max-width: 1440px;
	margin: 0 auto;
}

a {
	text-decoration: none;
}

ul {
	list-style: none;
}

.df {
	display: flex;
}

.text_center {
	text-align: center;
}
